<template>
  <q-page padding v-if="komunumo">
    <div class="fit row wrap justify-start items-start content-start">
      <div class="col-8 col-lg-8 col-md-8 col-xl-10 col-sm-12 col-xs-12    ">
        <q-card dark class="my-card q-pa-md">
          <q-parallax :src="komunumo.edges[0].node.kovrilo.bildoE.url" :height="150">
            <q-item dark class="absolute-bottom text-h6">
              <q-item-section>
                <q-item-label>
                  {{ komunumo.edges[0].node.nomo.enhavo }}
                </q-item-label>
                <q-item-label>
                  {{ komunumo.edges[0].node.priskribo.enhavo }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-parallax>
          <q-separator dark />

          <projektoj :komunumo="this.$route.params.id" count="3"></projektoj>
        </q-card>
      </div>
      <div class="col-4 col-xl-2 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <q-card dark class="my-card q-pa-md">
          <q-card-section horizontal>
            <q-item dark>
              <q-item-section avatar>
                <q-avatar>
                  <q-img spinner-color="white" :src="komunumo.edges[0].node.avataro.bildoF.url">
                    <template v-slot:error>
                      <div class="absolute-full flex flex-center bg-negative text-white">
                        Нет изображения
                      </div>
                    </template>
                  </q-img>
                </q-avatar>
              </q-item-section>
            </q-item>
            <q-btn color="positive">Поддержать</q-btn>
          </q-card-section>
          <q-separator dark />
          <q-card-section horizontal>
            <div>Связанные контакты</div>
          </q-card-section>
          <q-card-section
            horizontal
            v-for="(idu, idx) of komunumo.edges[0].node.kontaktuloj.edges"
            :key="idx"
          >
            <q-item class="col-12" dark clickable v-ripple :to="'/test/u' + idu.node.objId">
              <q-item-section avatar>
                <q-avatar>
                  <q-img spinner-color="white" :src="idu.node.avataro.bildoF.url">
                    <template v-slot:error>
                      <div class="absolute-full flex flex-center bg-negative text-white">
                        Нет изображения
                      </div>
                    </template>
                  </q-img>
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ fullName(idu) }}</q-item-label>
                <q-item-label caption v-html="idu.node.kontaktaInformo"> </q-item-label>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>
    </div>

    <!--Полоска загрузки при выполнении запроса к бакэнду-->
    <q-ajax-bar ref="barTop" position="bottom" color="accent" size="5px" />
    <q-ajax-bar ref="barBottom" position="top" color="accent" size="5px" />
    <!--    Кнопка возврата наверх страницы-->
    <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
      <q-btn fab icon="keyboard_arrow_up" color="accent" />
    </q-page-scroller>
  </q-page>
</template>

<script>
const parseId = source => (Number.isNaN(+source) ? 1 : +source);
import Projektoj from "components/projektoj";
import { komunumoQuery } from "src/queries/queries";

export default {
  components: { Projektoj },
  data() {
    return {
      item: null,
      loadingBarVisible: false,
      fullName: idu => {
        let firstName = "";
        let secondName = "";
        let lastName = "";
        if (typeof idu?.node === "object") {
          const { unuaNomo, duaNomo, familinomo } = idu.node;
          firstName = unuaNomo?.enhavo ?? "";
          secondName = duaNomo?.enhavo ?? "";
          lastName = familinomo?.enhavo ?? "";
        } else {
          throw new Error("Данные пользователя не получены");
        }
        return [firstName, secondName, lastName].join(" ");
      }
    };
  },
  apollo: {
    komunumo: {
      query: komunumoQuery,
      variables() {
        return { id: parseId(this.$route.params.id) };
      },
      errorPolicy: "all"
    }
  },
  methods: {
    komunumoId: () => {
      parseId(this.$route.params.id);
    }
  }
};
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>
