<template>
  <div>
    <div v-if="$apollo.loading"><br />Загрузка...</div>
    <q-page v-if="projekto" padding>
      <!-- content -->
      <q-card dark class="my-card q-pa-md">
        <q-card-section horizontal>
          <div v-if="projekto.edges" class="q-pa-md  items-start q-gutter-md col-12">
            <div v-for="(prkt, idx) of projekto.edges" :key="idx">
              <q-item v-ripple :to="'/test/p' + prkt.node.uuid" clickable dark>
                <q-item-section class="col-5">
                  <q-item-label>{{ prkt.node.nomo.enhavo }}</q-item-label>
                  <q-item-label caption>
                    {{ prkt.node.priskribo.enhavo }}
                  </q-item-label>
                </q-item-section>
                <q-separator dark vertical />
                <q-item-section>
                  <!--          <q-item-label>Связанные задачи</q-item-label>-->
                  <div v-for="(tasko, idx) of prkt.node.tasko.edges" :key="idx">
                    <q-item-label class="q-pl-md">{{ tasko.node.nomo.enhavo }}</q-item-label>
                    <q-item-label caption class="q-pl-md"
                      >{{ tasko.node.priskribo.enhavo }}
                    </q-item-label>
                  </div>
                </q-item-section>
              </q-item>
              <q-separator v-if="projekto.edges.length - idx - 1" dark />
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-page>
  </div>
</template>

<script>
import { projektoByUuidQuery } from "src/queries/queries";

export default {
  data() {
    return {};
  },
  apollo: {
    projekto: {
      query: projektoByUuidQuery,
      variables() {
        return { uuid: this.$route.params.uuid };
      },
      errorPolicy: "all"
    }
  },
  watch: {},
  methods: {},
  mounted() {}
};
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>
