<template>
  <q-page padding v-if="uzanto && uzanto.edges.length > 0">
    <!-- content -->
    <div class="fit row wrap justify-start items-start content-start ">
      <div class="col-8 col-lg-8 col-md-8 col-xl-10 col-sm-12 col-xs-12    ">
        <q-card dark class="my-card ">
          <q-card-section horizontal>
            <q-item dark>
              <q-item-section avatar>
                <q-avatar>
                  <q-img spinner-color="white" :src="uzanto.edges[0].node.avataro.bildoF.url">
                    <template v-slot:error>
                      <div class="absolute-full flex flex-center bg-negative text-white">
                        Нет изображения
                      </div>
                    </template>
                  </q-img>
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ fullName() }}</q-item-label>
                <q-item-label caption v-if="uzanto.edges[0].node.statuso">
                  {{ uzanto.edges[0].node.statuso.enhavo }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label
                  >{{ `${uzanto.edges[0].node.statistiko.miaGekamarado ? "У вас в друзьях" : ""}` }}
                </q-item-label>
                <q-item-label>
                  {{
                    `${
                      uzanto.edges[0].node.statistiko.tutaGekamaradoj !== null
                        ? "Друзей: " + uzanto.edges[0].node.statistiko.tutaGekamaradoj
                        : ""
                    }`
                  }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-4 col-xl-2 col-lg-4 col-md-4 col-sm-12 col-xs-12    "></div>
    </div>
    <!--Полоска загрузки при выполнении запроса к бакэнду-->
    <q-ajax-bar ref="barTop" position="bottom" color="accent" size="5px" />
    <q-ajax-bar ref="barBottom" position="top" color="accent" size="5px" />
    <!--    Кнопка возврата наверх страницы-->
    <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
      <q-btn fab icon="keyboard_arrow_up" color="accent" />
    </q-page-scroller>
  </q-page>
</template>

<script>
import { uzantoByObjIdQuery } from "src/queries/queries";

const parseId = source => (Number.isNaN(+source) ? 1 : +source);
export default {
  data() {
    return {
      fullName: () => {
        let firstName = "";
        let secondName = "";
        let lastName = "";
        if (this.uzanto && Array.isArray(this.uzanto.edges) && this.uzanto.edges.length > 0) {
          const [kom] = this.uzanto.edges;
          if (typeof kom === "object") {
            const { node } = kom;
            if (typeof node === "object") {
              const { unuaNomo, duaNomo, familinomo } = node;
              firstName = unuaNomo?.enhavo ?? "";
              secondName = duaNomo?.enhavo ?? "";
              lastName = familinomo?.enhavo ?? "";
            }
          }
        } else {
          throw new Error("Данные пользователя не получены");
        }
        return [firstName, secondName, lastName].join(" ");
      },
      uzanto: void 0
    };
  },
  apollo: {
    uzanto: {
      query: uzantoByObjIdQuery,
      variables() {
        return { id: parseId(this.$route.params.id) };
      },
      errorPolicy: "all"
    }
  }
};
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>
