<template>
  <div v-if="projektoj && projektoj.edges.length > 0">
    <q-card-section horizontal class="q-pa-md">
      <div>Связанные проекты</div>
    </q-card-section>
    <q-card-section horizontal>
      <div v-if="projektoj.edges" class="q-pa-md  items-start q-gutter-md col-12">
        <div v-for="(projekto, idx) of projektoj.edges" :key="idx">
          <q-item v-ripple :to="'/test/p' + projekto.node.uuid" clickable dark>
            <q-item-section class="col-5">
              <q-item-label>{{ projekto.node.nomo.enhavo }}</q-item-label>
              <q-item-label caption>
                {{ projekto.node.priskribo.enhavo }}
              </q-item-label>
            </q-item-section>
            <q-separator dark vertical />
            <q-item-section>
              <!--          <q-item-label>Связанные задачи</q-item-label>-->
              <div v-for="(tasko, idx) of projekto.node.tasko.edges" :key="idx">
                <q-item-label class="q-pl-md">{{ tasko.node.nomo.enhavo }}</q-item-label>
                <q-item-label caption class="q-pl-md">{{
                  tasko.node.priskribo.enhavo
                }}</q-item-label>
              </div>
            </q-item-section>
          </q-item>
          <q-separator v-if="projektoj.edges.length - idx - 1" dark />
        </div>
      </div>
    </q-card-section>
  </div>
</template>
<script>
import { projektojQuery } from "src/queries/queries";

export default {
  name: "Projektoj",
  props: {
    komunumo: {
      type: String,
      required: false
    },
    count: {
      type: String,
      required: false
    }
  },
  apollo: {
    projektoj: {
      query: projektojQuery,
      variables() {
        return {
          first: this.count,
          komunumoId: Number.isNaN(+this.komunumo) ? 1 : this.komunumo
        };
      },
      errorPolicy: "all"
    }
  }
};
</script>
