<template>
  <q-btn color="purple"
         :label='!user.universoUzanto? `${user.unuaNomo.enhavo} ${user.familinomo.enhavo}`: `${user.universoUzanto.retnomo}`'>
    <q-menu dark>
      <q-avatar size="32">
        <img
          v-if="user && user.avataro"
          :src="user.avataro.bildoE.url"
        />
        <q-icon v-else name="account"/>
      </q-avatar>
      <q-item>
        <q-item-section v-if="!user.universoUzanto">
          {{ user.unuaNomo.enhavo }} {{ user.familinomo.enhavo }}
        </q-item-section>
        <q-item-section v-else>
          {{ user.universoUzanto.retnomo }}
        </q-item-section>
      </q-item>


      <q-list bordered>
        <q-item
          v-for="(item, idx) in menu_items"
          :key="idx"
          :to="item.to"
          @click="item.action"
          clickable
        >
          <q-item-section>
            <q-icon v-if="item.icon" :name="item.icon"/>
          </q-item-section>
          <q-item-section>
            {{ item.text }}
          </q-item-section>
        </q-item>
      </q-list>
    </q-menu>
    <q-dialog
      v-model="need_set_nickname"
      width="380"
      persistent
    >
      <q-card>
        <q-card-section class="pa-0 pl-2">
          <div class="text-h6">Никнейм в Universo</div>
          <q-space/>
        </q-card-section>
        <q-card-section>
          <q-form
            ref="form"
            v-model="valid"
            :disabled="processing"
          >
            <q-input
              id="username"
              v-model="nickname"
              :rules="nicknameRules"
              label="Укажите Ваш никнейм в Universo"
              :disabled="processing"
              maxlength="30"
              required
              clearable
            />
          </q-form>
        </q-card-section>
        <q-card-actions>
          <q-btn
            color="primary"
            :disabled="processing"
            @click="logout"
          >
            <q-icon name="logout" label="Выйти"/>
          </q-btn>
          <q-space/>
          <q-btn
            color="positive"
            :disabled="processing || !valid"
            @click="setNickname"
            v-if="!processing" label="OK"
          />

          <q-circular-progress
            v-else
            indeterminate
            size="28"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-btn>
</template>

<script>
/* eslint no-console: ["error", { allow: ["warn", "error"] }] */

import {mapGetters} from 'vuex'

export default {
  name: 'UserBtn',

  data() {
    return {
      need_set_nickname: false,
      processing: false,
      valid: false,
      nickname: '',
      nicknameRules: [
        v => !!v || 'Поле обязательно для заполнения',
        v => (!v.length || v[0] !== '-') || 'Ник не может начинаться с символа минуса',
        v => /^[a-zA-Z0-9ĈĉĤĥĴĵŜŝŬŭ-]+$/.test(v) || 'Ник может содержать только латинские символы, цифры, символ минуса, а так же расширенные символы эсперанто (ĈĉĤĥĴĵŜŝŬŭ)',
        v => (v.length >= 5 && v.length < 31) || 'Ник должен быть иметь длину от 5 до 30 символов',
        v => !this.nick_errors.length || this.nick_errors.join('<br/>')
      ],
      nick_errors: [],
      menu_items: [
        {text: 'Выйти', action: this.logout, icon: 'logout'}
      ]
    }
  },

  computed: {
    ...mapGetters({user: 'siriusoauth/user'})
  },

  mounted() {
    if (!this.user.universoUzanto) {
      setTimeout(() => {
        this.need_set_nickname = true
      }, 500)
    }
  },

  created() {
    this.$root.$on('nickname_dialog_close', this.close)
  },

  beforeDestroy() {
    this.$root.$off('nickname_dialog_close', this.close)
  },

  methods: {
    close() {
      this.nickname = ''
      this.need_set_nickname = false
    },

    logout() {
      this.$auth.logout()
        .then(() => {
          this.$auth.fetchUser()
        })
        .catch(e => {
          this.$auth.fetchUser()
        })
    },

    setNickname() {
      if (this.$refs.form.validate()) {
        this.processing = true

        this.$axios.post('', {
          query: `
mutation($retnomo: String!) {
  redaktuUniversoUzanto (retnomo: $retnomo) {
    status
    message
  }
}
            `,
          variables: JSON.stringify({retnomo: this.nickname})
        })
          .then(response => {
            const resp = response.data.data.redaktuUniversoUzanto

            if (resp.status) {
              this.$auth.fetchUser()
              this.need_set_nickname = false
              this.$root.$emit('nickname_dialog_close')
            } else {
              this.nick_errors.push(resp.message)
              this.$refs.form.validate()
              this.nick_errors = []
            }
            this.processing = false
          })
          .catch(e => {
            console.error(e)
            this.processing = false
          })
      }
    }
  }
}
</script>

<style scoped>

</style>
